<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Enter Workout Name</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellTextfield</string>
		</dict>
	</array>
</array>
</plist>
